[clock_step]
step_mode=false
debug=false
[log]
enable_line_limit=true
[port]
TM_BASE_SERVER_PORT=10000
SW_BASE_SERVER_PORT=11000
SW1_BASE_SERVER_PORT=11000
STREAM_SEND_BASE_PORT=12000
HOST_PORT=13000
LOCALHOST=127.0.0.1
SW_IP=10.114.220.163#used by test switch
SW0_IP=10.114.220.169#used by ftm
SW1_IP=10.114.220.169#used by ftm
LISTEN_SOCKETS_NUM=18
SEND_SOCKETS_NUM=18
SRC_TM_ID=0
